{% extends 'base.html' %}

{% block content %}

{% load static %}

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Syafri Barry Salim</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <button><a href="{% url 'wishlist:logout' %}">Logout</a></button>
      </form>
    </div>
  </div>
</nav>
<br></br>


<body style = "font-family:'Courier New';text-align:left; padding: 15px; background: rgb(2,0,36); background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(123,241,149,1) 88%, rgba(0,212,255,1) 100%);color: rgb(0, 0, 0);">


<style>
    table, th, td, button {
      padding: 10px;
    }
    table {
      border-spacing: 10px;
    }
    ul {
        list-style-type: none;
        margin: 10;
        padding: 10;
      }
</style>



  


<table style="width:100%">
    <tr>
    <th style = "text-align: center; border-radius: 10px 10px 10px 10px;background-color: #D4F6CC; color: rgb(0, 0, 0); padding: 10px; ">Nama Barang</th>
    <th style = "text-align: center; border-radius: 10px 10px 10px 10px;background-color: #D4F6CC; color: rgb(0, 0, 0); padding: 10px; ">Harga Barang</th>
    <th style = "text-align: center; border-radius: 10px 10px 10px 10px;background-color: #D4F6CC; color: rgb(0, 0, 0); padding: 10px; ">Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
{% for barang in list_barang %}
<tr>
    <th style = "text-align: center; background-color: #CFD2CF; color: rgb(0, 0, 0); padding: 5px;">{{barang.nama_barang}}</th>
    <th style = "text-align: center; background-color: #CFD2CF; color: rgb(0, 0, 0); padding: 5px;">{{barang.harga_barang}}</th>
    <th style = "text-align: center; background-color: #CFD2CF; color: rgb(0, 0, 0); padding: 5px;">{{barang.deskripsi}}</th>
</tr>
{% endfor %}
</table>
<h5 style = "text-align: center; border-radius: 10px 10px 10px 10px;background-color: #D4F6CC; color: rgb(0, 0, 0); padding: 10px; ">Sesi terakhir login: {{ last_login }}</h5>


</body>

{% endblock content %}